<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Tableau des entrées
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="exportCSV()">
        Export
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ngx-datatable [rows]="rows" [ngClass]="tableStyle"
                 [rowHeight]="'auto'" [headerHeight]="50"
                 [columnMode]="'force'" [columns]="columns">


    <!--
        <ngx-datatable-column name="Actions" [sortable]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-button size="small" fill="outline" (click)="open(row)">Details</ion-button>
      </ng-template>
    </ngx-datatable-column><ngx-datatable-column name="Age"></ngx-datatable-column>
    <ngx-datatable-column name="Nom"></ngx-datatable-column>
    <ngx-datatable-column name="N°"></ngx-datatable-column>
    <ngx-datatable-column name="Montant"></ngx-datatable-column>
    <ngx-datatable-column name="Date"></ngx-datatable-column>-->
  </ngx-datatable>
</ion-content>


